<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application><activity android:name=".translation.Ct2SmokeActivity" android:exported="true" /><activity android:name=".tts.TamilTtsSmokeActivity" android:exported="true" /><activity android:name=".communication.WifiDirectSmokeActivity" android:exported="true" /><activity android:name=".stt.WhisperTamilSmokeActivity" android:exported="true" /><activity android:name=".communication.WhisperPacketSmokeActivity" android:exported="true" /><activity android:name=".ranging.RangingLabActivity" android:exported="true" /><activity android:name=".ranging.BleMeasurementActivity" android:exported="true" /><activity android:name=".tts.GujaratiTtsSmokeActivity" android:exported="true" /></application></manifest>
